* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #14233c;
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}

.button {
  padding: 10px 20px;

}

.todo-list {
  flex: 1 1 0;
  /*margin-top: 20px;*/
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}

.inputField {
	border: none;
    border-bottom: solid 1px white;
    background: transparent;
    color: white;
}
.myButton {
	background: transparent;
    color: white;
    font-size: 15px;
}

li {
	background: deepskyblue;
	padding: 5px;
	width: 70%;
	margin-left: 15%;
	margin-top: 3px;
	color: white;
    border-radius: 6px;
}
input[type='checkbox'] {
	margin-left: 4%;
	margin-right: 2%;
	transform: scale(1.4);
    float: left;
}

.removeTodo {
	margin-right: 4%;
    background: floralwhite;
    color: black;
    float: right;
    border-radius: 5px;
    font-weight: 300;
}